  body {
    display: grid;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
  

  }

  .Socials{
    padding:10px;
    background-color: #924a38b1;
    border-radius: 80rem;
    display: inline-block;
}

.Socials:hover{
    background-color: #52291eb1;
}

.navgation{
    padding: 10px;
}
.mainpage{
  text-align: center;
}
h1 {
  font-size: 50px;
  line-height: 1.2;
  max-width: 100%;
}


.camera{
  width: 200;
  transform: rotate(10deg);
  position: absolute;
  left: 80%;
  top: 400px;

}

.heading {
  border: 2px solid rgba(116, 64, 64, 0.205);
  border-radius: 60px;
}

  .letter-o{
    width: 70px; 
    position: absolute;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 50px;
    }
  }
  
  .letter-o {
    display: inline-block;
    width: 70px;
    position: relative;
    top: 5px;
  }

  .microphone{
    width:120px;
    text-align: center;
  }
  
  .graphic{
    text-align: center;
    padding: 10px;
    background-color:#924a38b1;
    inline-size: auto;

  }
  
  .graphic img{
    width: 100px;
   
  }
  
  .blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
    max-width: 500px;
    margin: auto;
  }
  
 .blocks img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

.about{
   text-align: center;
   display:flex;
 ;
  gap: 40px;
}

.about,img{
  max-width: 300px;
  border-radius: 20px;
  
}
